---
name: "Clearine"
desc: "Minimalist and configurable GTK Session/Logout manager for X11 Desktop"
img: "/assets/img/sideprojects/clearine.jpg"
permalink: false
---
<a class="button button-small text-light" href="https://github.com/okitavera/clearine">GitHub</a>
<a class="button button-small text-light" href="https://aur.archlinux.org/packages/clearine-git/">AUR</a>
