---
layout: plain.njk
title: Tags
permalink: /article/tags/
---
<div class="container legacy">
  <h1 class="text-thin"><b>POST</b>TAGS</h1>
  {% for _tag in collections.tags %}
    <a href="/article/tags/{{ _tag }}" class="button button-small{% if tag == _tag %}{% else %} button-outline{% endif %}">{{ _tag }}</a>
  {% endfor %}
</div>
