---
layout: plain.njk
title: Tags
permalink: /article/tags/
---
<div class="bg-lighter">
<section class="container no-padding-y">
  <h1 class="text-thin center"><b>ARTICLE</b>TAGS</h1>
  <div class="center">
    {% for _tag in collections.tags %}
      <a href="/article/tags/{{ _tag }}" class="button button-small{% if tag == _tag %}{% else %} button-outline{% endif %}">{{ _tag }}</a>
    {% endfor %}
  </div>
  <div class="sp"></div>
</section>
</div>
