<a href="#top" class="backtotop">➜</a>
<div class="bg-lighter">
  <footer class="container copyright">
    <div class="row">
      <div class="col center text-smaller">
        <a href="/">Home</a> /
        <a href="/#about">About</a> /
        <a href="/article">Blog</a> /
        <a href="/#sideprojects">Projects</a> /
        <a href="/friends">Friends</a> /
        <a href="{{ metadata.feed.path }}">RSS</a>
      </div>
    </div>
    <div class="row">
      <div class="col center text-smaller">
          Proudly powered by 
          <a rel="noopener" target="_blank" href="https://github.com/11ty/eleventy">Eleventy</a>,
          <a rel="noopener" target="_blank" href="https://travis-ci.com/okitavera/okitavera.github.io">Travis</a>, and
          <a rel="noopener" target="_blank" href="https://github.com/okitavera/okitavera.github.io/tree/eleventy">GitHub</a>.
          <br>
          <b>&copy;</b> 2018 Designed by okitavera
      </div>
    </div>
  </footer>
</div>
<div class="owo">(つ▀¯▀)つ</div>
<script async>
{% include "components/smoothscroll.js" %}
var scroll = new SmoothScroll('a[href*="#"]', {
	header: '.stay',
	topOnEmptyHash: true,
	easing: 'easeInOutCubic',
	updateURL: true,
	popstate: true,
	emitEvents: true
});

{% include "components/lazyload.min.js" %}
window.lazyLoadOptions = { threshold: 0 };
new LazyLoad({elements_selector: ".---ll"});  

{% if disqus and metadata.disqus.username and metadata.disqus.enable == "true" %}
  {% include "components/disqusLoader.js" %}
  disqusLoader('.disqus',{ scriptUrl: '//{{ metadata.disqus.username }}.disqus.com/embed.js' });
{% endif %}

{% include "components/okitavera.js" %}
</script>
</body>
</html>