<div class="bg-lesslight">
  <div class="container">
    {% include "showroom.njk" %}
  </div>
  <footer class="container">
    <div class="row copyright">
      <div class="col">
        <small>
          <b>&copy;</b> 2018 <b>Nanda Okitavera</b> // Made with a computer, coffee, and curiousity
          <br>
          #<a href="https://github.com/11ty/eleventy">11ty</a>&nbsp;
          #<a href="https://github.com/yuune/yuune.github.io/tree/eleventy">GitHub</a>&nbsp;
          #<a href="https://travis-ci.com/yuune/yuune.github.io">travisci</a>&nbsp;
          #<a href="{{ metadata.feed.path }}">RSS</a>&nbsp;
        </small>
      </div>
    </div>
  </footer>
</div>
</body>
<script>
    {% include "components/smoothscroll.js" %}
</script>
</html>