<div class="bg-lesslight">
  <div class="container" style="padding-bottom:0">
    <div class="row">
      <div class="col">
        <h2 class="text-thin" style="margin-top:0">FRIENDS<b>LINK</b></h2>
      </div>
    </div>
    <div class="row ignore-mobile">
      {% for friend in friendlists.friends | sort(false, false, 'name')%}
      <div class="col fx-nogrow" style="padding:0.5rem">
        <a rel="noopener" href="{{ friend.url }}" alt="{{ friend.name }}" aria-label="{{ friend.name }}" target="_blank" class="text-dark friend-link">
          <img width="40" height="40" class="circle ---ll" data-src="{{ friend.img }}"><br>
          <b class="uppercased text-smaller">{{ friend.name }}</b>
        </a>
      </div>
      {% endfor %}
    </div>
  </div>
  <footer class="container">
    <div class="row copyright">
      <div class="col">
        <small>
          <b>&copy;</b> 2018 <b>Nanda Okitavera</b> // Made with a computer, coffee, and curiousity
          <br>
          #<a href="https://github.com/11ty/eleventy">11ty</a>&nbsp;
          #<a href="https://github.com/okitavera/okitavera.github.io/tree/eleventy">GitHub</a>&nbsp;
          #<a href="https://travis-ci.com/okitavera/okitavera.github.io">travisci</a>&nbsp;
          #<a href="{{ metadata.feed.path }}">RSS</a>&nbsp;
        </small>
      </div>
    </div>
  </footer>
</div>
<script async>
  {% include "components/smoothscroll.js" %}
  {% if metadata.disqus.username and metadata.disqus.enable == "true" %}
    {% include "components/disqusLoader.js" %}
    disqusLoader('.disqus',{ scriptUrl: '//{{ metadata.disqus.username }}.disqus.com/embed.js' });
  {% endif %}
  {% include "components/lazyload.min.js" %}
  window.lazyLoadOptions = {
    threshold: 0
  };
  new LazyLoad({elements_selector: ".---ll"});
  var myNav = document.querySelector(".nav"),
      qClearsEnd = document.querySelector('.clearsEnd');

  window.onscroll = function() {
    "use strict";
    var clearsEnd = qClearsEnd.offsetTop - qClearsEnd.offsetHeight;
    if (document.body.scrollTop >= clearsEnd || document.documentElement.scrollTop >= clearsEnd) {
      myNav.classList.remove("clears");
    } else {
      myNav.classList.add("clears");
    }
  };
</script>
</body>
</html>