<!doctype html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="title" content="{{ renderData.title or title or metadata.title }}">
    <title>{{ renderData.title or title or metadata.title }}</title>
    <link rel="canonical" href="{{ metadata.url + page.url }}">
    <link rel="preconnect" href="//fonts.googleapis.com/" crossorigin>
    <link rel="preconnect" href="//fonts.gstatic.com/" crossorigin>
    <link rel="preload" as="image" type="image/jpeg" src="{{ metadata.author.photo }}?s=192" crossorigin>
    <link rel="preload" as="image" type="image/png" href="/assets/img/favicon/favicon-96.png" crossorigin>
    <link rel="preload" as="image" type="image/png" href="/assets/img/favicon/favicon-16.png" crossorigin>
    <link rel="alternate" type="application/rss+xml" title="{{ metadata.feed.title }}" href="{{ metadata.feed.path | url }}">
    <link rel="icon" type="image/png" sizes="96x96" href="/assets/img/favicon/favicon-96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/assets/img/favicon/favicon-16.png">
    <style>
        {% include 'components/app.css' %}
    </style>
</head>
<body>