<header class="nav {{ nav_class }}">
	<div class="container legacy no-padding-y">
		<div class="row items-mid">
			<div class="col">
				<a class="text-thin" href="{{ '/' | url }}">
					<b>OKITA</b>VERA
				</a>
			</div>
			<div class="col right">
				<span class="links">
          <a href="{{ '/#about' | url }}">ABOUT</a>
        </span>
        &nbsp;
				<span class="links">
          <a href="{{ '/article/' | url }}">BLOG</a>
        </span>
			</div>
		</div>
	</div>
</header>