---
layout: plain.njk
---
<div class="bg-blackprint" {% if splash %}style="background-image: url({{ splash }});background-size:cover"{% endif %}>
<div {% if splash %}class="darken-bg" {% endif %}>
  <section class="container">
    <header class="paper left">
      <time class="hashed text-light" datetime="{{ date | htmlDateString }}">{{ date | readableDate }}</time>
      <h1>{{ title }}</h1>
    </header>
  </section>
</div></div>
<section class="container no-padding-y">
  <article class="paper">
    {{ content | safe }}
    <br>
    <small>
    <span href="{{ '/tags' | url }}" class="button button-clear button-small">tagged in </span>
    {% for tag in tags %}
        {%- if tag != "post" -%}
        {% set tagUrl %}/tags/{{ tag }}/{% endset %}
        <a href="{{ tagUrl | url }}" class="button button-small">{{ tag }}</a>
        {%- endif -%}
    {% endfor %}
    </small>
  <hr/>
  <footer class="post-credit-wrapper no-padding-y">
    <img class="circle" width="64" src="{{ metadata.author.photo }}"/>
    <div class="post-credit">
      <h6>written by</h6>
      <h3>{{ metadata.author.name }}</h3>
    </div>
  </footer>
  <div class="sp"></div>
  </article>
</section>