{% set posttitle = title + ' - ' + metadata.title %}
{% set disqus = "true" %}
{% set nav_class = "clears" %}
{% include "head.njk" %}
<div class="bg-blackprint animated fadeIn" {% if splash.url %} style="background-image: url({{ splash.url }});background-size:cover" {% endif %}>
<div {% if splash %}class="darken-bg" {% endif %}>
  {% include "navs.njk" %}
  <section class="container">
    <header class="row paper items-mid left">
      <div class="col animated zoomOut fast">
        <time id="alternavTrigger" class="hashed text-light" datetime="{{ date | htmlDateString }}">{{ date | readableDate }}</time>
        <h1>{{ title }}</h1>
      </div>
    </header>
    <div class="right"><small>{{ splash.credit }}</small></div>
  </section>
</div></div>
<section class="container no-padding-y">
  <article class="paper">
    {{ content | safe }}
    <br>
    <small>
    <span href="{{ '/tags' | url }}" class="button button-clear button-small">tagged in </span>
    {% for tag in tags %}
        {%- if tag != "post" -%}
        {% set tagUrl %}/tags/{{ tag }}/{% endset %}
        <a href="{{ tagUrl | url }}" class="button button-small">{{ tag }}</a>
        {%- endif -%}
    {% endfor %}
    </small>
  <hr/>
  <footer class="post-credit-wrapper no-padding-y">
    <img class="circle" width="64" src="{{ metadata.author.photo }}"/>
    <div class="post-credit">
      <h6>written by</h6>
      <h3>{{ metadata.author.name }}</h3>
    </div>
  </footer>
  {% if metadata.disqus.username and metadata.disqus.enable == "true" %}
  <hr>
  <div class="disqus"></div>
  {% endif %}
  <div class="sp"></div>
  </article>
</section>
{% include "recentarticle.njk" %}
{% include "foot.njk" %}