{% set articles = collections.posts | head(-3) %}
<section class="recent-article" id="recentarticles">
  <div class="container">
    <h1 class="text-thin"><b>RECENT</b>ARTICLES</h1>
    <div class="row fx-nowrap items-stretch">
      {% for post in articles | reverse %}
      <div class="col col-eq card bg-lightest center"><a href="{{ post.url | url }}">
        <div class="card-thumbnail bg-blackprint static" {% if post.data.splash.url %}style="background-image: url({{ post.data.splash.url }});background-size: cover"{% endif %}></div>
        <div class="card-context">
          <div class="text-uppercase text-dark">{{ post.data.title }}</div>
          <time class="text-smaller" datetime="{{ post.date | htmlDateString }}">{{ post.date | readableDate }}</time>
        </div>
        <div class="sp sp-s"></div>
      </a></div>
      {% endfor %}
    </div>
    <div class="row center">
      <div class="col">
          <div class="sp"></div>
          <a href="/article/" class="button button-small text-light">View more post</a>
          <div class="sp"></div>
      </div>
    </div>
  </div>
</section>
      