{% set articles = collections.posts | head(-3) %}
<section class="recent-article" id="recentarticles">
  <div class="container">
    <h1 class="text-thin"><b>RECENT</b>ARTICLES</h1>
    <div class="row fx-nowrap items-stretch">
      {% for post in articles | reverse %}
      <div class="col col-eq card bg-lightest"><a href="{{ post.url | url }}">
        <div class="card-thumbnail bg-darkest">
        {% if post.data.splash.url %}
          <img class="---ll" data-src="{{ post.data.splash.url }}">
        {% endif %}
        </div>
        <div class="card-context">
          <time class="text-smaller" datetime="{{ post.date | htmlDateString }}">{{ post.date | readableDate }}</time>
          <div class="text-uppercase text-dark">{{ post.data.title }}</div>
        </div>
      </a></div>
      {% endfor %}
    </div>
    <div class="row center">
      <div class="col">
        <div class="sp"></div>
        <a href="/article/" class="button button-small text-light">View more post</a>
        <div class="sp"></div>
      </div>
    </div>
  </div>
</section>
