---
layout: plain.njk
permalink: /article/
title: Article Index
---
<div class="bg-lesslight">
<section class="container no-padding-y">
  <h1 class="text-thin center">
    <span class="text-bigger">ALL<b>ARTICLES</b></span>
  </h1>
  <div class="article-index center">
    {% set articles = collections.posts %}
    {% for post in articles | reverse %}
      <a href="{{ post.url | url }}"><article class="article-item bg-accent">
        <div class="container bg-blackprint static" {% if post.data.splash.url %}style="background-image: url({{ post.data.splash.url }});background-size: cover"{% endif %}>
          <div class="row items-mid  {% if post.data.splash %}has-splash{% endif %}"><div class="col">
            <div class="sp sp-xs"></div>
            <time class="hashed uppercased text-light" datetime="{{ post.date | htmlDateString }}">
              <b>{{ post.date | readableDate }}</b>
            </time>
            <h1 class="text-light"><b>
                  {% if post.data.title %}
                    {{ post.data.title }}
                  {% else %}
                    <code>{{ post.url }}</code>
                  {% endif %}
                </b></h1>
            <div class="sp sp-xs"></div>
          </div></div>
        </div>
      </article></a>
      <div class="sp sp-xs"></div>
    {% endfor %}
  </div>
</section>
</div>