/*!
 * okitavera.github.io
 * Copyright 2018 Nanda Okitavera
 * License under MIT
 * Source available at: https://github.com/okitavera/okitavera.github.io.git
 */

$font_sans = Lato, Roboto, 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif
$font_serif = 'Noto Serif', Georgia, Cambria, 'Times New Roman', Times, serif
$font_mono = Inconsolata, Menlo, Courier, monospace

$colorAccent = #f0405a
$colorLightest = #ffffff
$colorLighter = lightness($colorLightest, 96%)
$colorLight = lightness($colorLightest, 92%)
$colorDark = lightness($colorLight, 43%)
$colorDarker = lightness($colorLight, 30%)
$colorDarkest = lightness($colorLight, 15%)

$flexTreshold = 650px

@import 'parts/*'