/*!
 * yuune.github.io
 * Copyright 2018 Nanda Okitavera
 * License under MIT
 * Source available at: https://github.com/yuune/yuune.github.io.git
 */

@import url('https://fonts.googleapis.com/css?family=Lato:300,400,400i,700,700i')
@import url('https://fonts.googleapis.com/css?family=Noto+Serif:400,400i,700,700i')
@import url('https://fonts.googleapis.com/css?family=Inconsolata:400,700')

$font_sans = Lato, Roboto, 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif
$font_serif = 'Noto Serif', Georgia, Cambria, 'Times New Roman', Times, serif
$font_mono = Inconsolata, Menlo, Courier, monospace

$colorAccent = #f47
$colorLight = #f6f3f5
$colorLessLight = #efefef
$colorLesssLight = #e0e0e0
$colorLessDark = #6c6c6c
$colorDark = #4c494b
$colorMoreDark = #140f10

@import 'parts/*'