/*
 * okitavera.github.io
 * Copyright 2018 Nanda Okitavera
 * License under MIT
 * Source available at: https://github.com/okitavera/okitavera.github.io.git
 */
$font_sans = Lato, 'Open Sans', 'Helvetica Neue', sans-serif
$font_mono = Inconsolata, Menlo, monospace
$flexTreshold = 650px
$paperMaxWidth = 950px
$containerMaxWidth = 1100px

@import 'fonts'
@require 'colors'
@import 'parts/*'
