*,
*:after,
*:before
  box-sizing inherit

html,
body
  overflow-x hidden
  box-sizing border-box
  min-height 100vh
  background $colorLighter
  color $colorDark
  letter-spacing 0.01em
  font-weight 400
  font-size 16px
  font-family $font_sans
  line-height 1.8

blockquote
  margin-right 0
  margin-left 0
  padding 1rem
  border-left 0.3rem solid $colorLessLight
  *:last-child
    margin-bottom 0

hr
  margin 1rem 0
  border 0
  border-top 1px solid $colorLessLight

dl,
ol,
ul
  margin-top 0
  padding-left 0
  list-style none
  dl,
  ol,
  ul
    margin 1rem 0 1rem 2rem
    font-size 90%

ol
  list-style decimal inside

ul
  list-style circle inside

fieldset,
input,
select,
textarea
  margin-bottom 1.5rem

blockquote,
dl,
figure,
form,
ol,
p,
pre,
table,
ul
  margin-bottom 1rem

p
  max-width 100%
  word-wrap break-word
  img
    max-width 100%

img:not([src])
  visibility hidden

/* Fixes Firefox anomaly during image load */
@-moz-document url-prefix()
  img:-moz-loading
    visibility hidden