.container
  display flex
  flex-flow column nowrap
  margin 0 auto
  padding 2rem 1rem
  max-width 980px
  width 100%
  &.legacy
    display block

.row
  display flex
  flex 1
  flex-flow row wrap
  padding 0
  width 100%
  .col
    display block
    flex 1 1 auto
    padding 0 1rem
    &.col-sink
      flex 0 1 auto
@media screen and (max-width $flexTreshold)
  .row
    flex-flow column

.fx-wrap
  flex-wrap wrap

.fx-nowrap
  flex-wrap nowrap

.self-start
  align-self flex-start

.self-end
  align-self flex-end

.self-mid
  align-self center

.items-start
  align-items flex-start

.items-end
  align-items flex-end

.items-mid
  align-items center

.items-stretch
  align-items stretch

.items-baseline
  align-items baseline
