.circle
  border-radius 50%

.height-stretch
  min-height 100vh

.height-stretch-half
  min-height calc((100vh / 2))

.no-padding-y
  padding-top 0
  padding-bottom 0

.no-padding-x
  padding-right 0
  padding-left 0

hr,
div
  &.sp
    display block
    margin 0
    padding 0
    height 2rem
    border 0
    &.sp-s
      height 1rem
    &.sp-xs
      height 0.5rem
