.nav
  border-bottom 1px solid $colorLight
  background $colorLighter
  .logo
    padding 0.5rem
    border 1px solid $colorAccent
    color $colorAccent
  &.clears
    border-color transparent
    background transparent
    a
      color $colorLighter
    .mobile
      span
        background $colorLight
  .row
    flex-direction row
    height 4rem
  .links
    margin auto 1rem
    a
      padding-bottom 0.5em
      letter-spacing 0.1rem
      &:hover
        border-bottom 0.2em solid $colorAccent
        color $colorAccent
  .mobile
    visibility hidden
    width 0
    a
      display block
    span
      display block
      margin 0.55rem 0
      width 1rem
      height 0.1rem
      border-radius 5px
      background $colorAccent
      content ''
      transition 0.18s ease-out all
    .opened
      span:first-child
        transform translateY(0.3rem) rotate(45deg)
      span:last-child
        transform translateY(-0.3rem) rotate(-45deg)

.overlay-menu
  position fixed
  top 0
  left 0
  z-index 998
  visibility hidden
  overflow-y scroll
  width 100vw
  height 100%
  background rgba(black, 95%)
  opacity 0
  transition all 0.5s ease-in-out
  .container
    padding-top 5rem
  .col
    padding 1rem
    border-top 1px solid $colorAccent
    border-bottom 1px solid $colorAccent
  a
    font-size 2rem
    &:not(.logo)
      font-weight 700

.card
  margin 0 1rem 0 0
  padding 0 !important

.card
  .card-thumbnail
    width 100%
    height 10rem
    background-position center
    background-size cover
  .card-context
    padding 1rem

.card:last-child
  margin 0

.article-index
  .article-item
    margin-bottom 2rem
    .container
      padding 0
      background-color black
      box-shadow 0 15px 30px 0 rgba(0, 0, 0, 0.11), 0 5px 15px 0 rgba(0, 0, 0, 0.08)
      transition 0.18s ease-out
      &:hover
        box-shadow 0 16px 35px 0 rgba(0, 0, 0, 0.27), 0 8px 20px 0 rgba(0, 0, 0, 0.15)
        transform translateY(-1rem)
    .row
      padding 2rem 1rem
      min-height 17rem
      &:hover
        transition 0.18s ease-out
      &.has-splash
        background-color rgba(black, 0.6)
        &:hover
          background-color rgba(black, 0.8)
          transition 0.18s ease-out
      *
        text-shadow 0px 3px 0px $colorDarker

.owo
  padding 1rem
  text-align center
  opacity 0
  &:hover
    opacity 1

.copyright
  padding-top 2rem
  text-transform uppercase
  letter-spacing 2px
  font-size 0.9rem
  .jumps a
    padding 2px 0.6rem
    color $colorLight
    font-size 0.8rem

.post-credit-wrapper
  display flex
  align-items center
  .post-credit
    display inline-block
    padding-left 1em
    > *
      margin 0
      padding 0
      font-family $font_sans
    :first-child
      text-transform uppercase
      font-weight 700 !important
    :last-child
      color $colorDarker

.codeheader
  margin-top -0.5rem

header
  &.paper
    margin auto
    min-height 20rem
    max-width $paperMaxWidth
    width 100%
    h1,
    time
      margin 0
      padding 0
      text-transform uppercase
      text-shadow 0px 3px 0px $colorDarker
      font-weight bold
      font-family $font_sans
    h1
      max-width 90%
      font-size 4em
      font-size 5vw
      line-height 1.2
    time
      padding-left 0.1em

.paper
  margin auto
  max-width $paperMaxWidth
  width 100%
  font-size 1.1em
  h1,
  h2,
  h3,
  h4,
  h5,
  h6
    .direct-link
      position relative
      top -0.2em
      visibility hidden
      color lighten($colorAccent, 30%)
      font-size 0.8em
    &:hover > .direct-link
      visibility visible

.ovlogo-canvas
  display block
  margin 0
  padding 1rem 0
  svg
    max-width 512px
    max-height auto
    width 100%
    height auto
    transform rotate(-10deg)
    .L1,
    .L2
      animation dash 2s cubic-bezier(0.6, 0.5, 0.8, 0.9) forwards
      stroke-dasharray 400
      stroke-dashoffset 400
      stroke $colorAccent
      stroke-opacity 1
    .L2
      animation dash 3s cubic-bezier(0.4, 0.9, 0.9, 0.8) forwards
      animation-delay 1.78s
      stroke-dasharray 544
      stroke-dashoffset 544
      stroke $colorLighter
    .LSHDW
      opacity 0
      fill 0

@keyframes dash
  to
    stroke-dashoffset 0

.friends
  .col
    text-align center
    a
      position relative
      display inline-block
      margin 1rem
      img,
      span
        position relative
        display block
        width 128px
        height 128px
      span
        position absolute
        top 0
        left 0
        border-radius 50%
        background-color rgba($colorDarkest, 0.5)
        opacity 0
        transition 0.2s ease-out all
      b
        position relative
        top calc(128px / 2 - 1rem)
        color $colorLight
        text-transform uppercase
      &:hover
        span
          opacity 1

.backtotop
  position fixed
  right 5rem
  bottom 5rem
  visibility hidden
  width 3rem
  height 3rem
  border-radius 50%
  background $colorDark
  box-shadow 0 0 10px 0 rgba(0, 0, 0, 0.11)
  color $colorLight
  text-align center
  line-height 3rem
  opacity 0
  transition 0.2s ease-out all
  transform rotate(-90deg)

@media screen and (max-width: $flexTreshold)
  .backtotop
    right 1rem
    bottom 2rem
  .ovlogo-canvas
    svg
      max-width 100%
      max-height auto
      width 100%
      height auto
  header
    &.paper
      flex-direction row
      min-height 15rem
      h1
        max-width 100%
        font-size 4em
        font-size 8vw
        line-height 1.2
  .start
    .row
      flex-direction row
  .nav
    .logo
      position relative
      z-index 999
    .col.right:not(.mobile)
      display none
    .mobile
      position relative
      z-index 999
      visibility visible
      width unset
  .card
    margin 0 0 1rem

.splash-credit
  padding 0.5rem
  color $colorLight
  text-align right
  opacity 0.8
  a
    color $colorLight
