.start
  h1
    margin 0
    color $colorDark
  .desc
    color $colorDark
    text-transform uppercase
    letter-spacing 0.1rem
  .links
    span
      padding 0 1em
    a
      padding-bottom 0.5em
      &:hover
        border-bottom 0.2em solid $colorAccent
        color $colorAccent

@media screen and (max-width: $flexTreshold)
  .start
    .row
      flex-direction row

.nav
  border-bottom 1px solid $colorLesssLight
  background $colorLight
  &.clears
    background transparent
    border-color: transparent
    a
      color $colorLight
  .row
    height 4rem
    .title
      font-size 1.2rem
    .links
      margin auto 1rem
      a
        padding-bottom 0.5em
        &:hover
          border-bottom 0.2em solid $colorAccent
          color $colorAccent

@media screen and (max-width: 600px)
  .nav
    .row
      flex-direction row

.showroom
  .showmore
    color $colorLessDark
    text-transform uppercase
    letter-spacing 0.1em
    font-weight 600
    &::before
      display inline-block
      padding 0 0.5em 0 1em
      color $colorAccent
      content '⟶'
  .column
    margin-bottom 2em

.article-index
  .article-item
    margin-bottom: 2rem
    border-radius: 10px
    .container
      border-radius: 10px
      padding 0
      background-color: #000000
      box-shadow: 0 15px 30px 0 rgba(0, 0, 0, 0.11), 0 5px 15px 0 rgba(0, 0, 0, 0.08);
      transition: 0.18s ease-out;
      &:hover
        transform: translateY(-1rem);
        box-shadow: 0 16px 35px 0 rgba(0, 0, 0, 0.27), 0 8px 20px 0 rgba(0, 0, 0, 0.15);
    .row
      min-height 17rem
      border-radius: 10px
      padding 2rem 1rem
      &:hover
        transition: 0.18s ease-out;
      &.has-splash
        background-color: rgba(black, 0.6)
        &:hover
          transition: 0.18s ease-out;
          background-color: rgba(black, 0.8)
      *
        text-shadow: 0px 3px 0px #4E4E4E;

.darken-bg
  background-color: rgba(black, 0.8)

.copyright
  text-transform uppercase
  letter-spacing 2px
  font-size 85%

.post-credit-wrapper
  display flex
  align-items center
  .post-credit
    display inline-block
    padding-left 1em
    > *
      margin 0
      padding 0
      font-family $font_sans
    :first-child
      text-transform uppercase
      font-weight 600 !important
    :last-child
      color $colorDark

.codeheader
  margin-top -0.5rem

header
  &.paper
    margin auto
    width 100%
    max-width 800px
    min-height: 20rem
    h1,
    time
      margin 0
      padding 0
      text-transform uppercase
      font-weight bold
      font-family $font_sans
      text-shadow: 0px 3px 0px #4E4E4E;
    h1
      max-width 90%
      font-size 4em
      font-size 5vw
      line-height 1.2
    time
      padding-left 0.1em

.paper
  margin auto
  width 100%
  max-width 800px
  font-size 1.1em
  p
    font-family $font_serif
  h1,
  h2,
  h3,
  h4,
  h5,
  h6
    text-transform capitalize
    font-family $font_serif
    .direct-link
      position relative
      top -0.2em
      visibility hidden
      color lighten($colorAccent, 30%)
      font-size 0.8em
    &:hover > .direct-link
      visibility visible

@media screen and (max-width: $flexTreshold)
  header
    &.paper
      flex-direction row
      min-height: 15rem
      h1
        max-width 100%
        font-size 4em
        font-size 8vw
        line-height 1.2

.ovlogo-canvas
  display inline-block
  padding 1rem 0
  svg
    max-width 512px
    height auto
    transform rotate(-10deg)
    .L1,
    .L2
      animation dash 3.2s cubic-bezier(0.4, 0.03, 0.5, 0.9) forwards
      stroke-dasharray 1000
      stroke-dashoffset 1000
      stroke $colorAccent
      stroke-opacity 1
    .L2
      animation dash 3.2s cubic-bezier(0.9, 0.8, 0 0.3, 0.4) forwards
      animation-delay 1s
      stroke $colorDark
    .LSHDW
      animation opashadow 0.8s cubic-bezier(0.175, 0.885, 0.32, 1) forwards
      animation-delay 2.3s
      fill transparentify(black, 0.5)
      fill-opacity 0

@keyframes dash
  to
    stroke-dashoffset 0

@keyframes opashadow
  to
    fill-opacity 1
